In [21]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#Loading the train.csv data
df_train = pd.read_csv(r"C:\Users\chatterjeeso\Desktop\Project_TS_Walmart\Phase 2\Data\train.csv")

#Checking how it appears
#df_train.head()

In [22]:
#df_train.info()

In [23]:
df_train.count(axis = 1)
df_train.isnull().sum()
df_train[df_train['units'] == 0].count()

date         4498904
store_nbr    4498904
item_nbr     4498904
units        4498904
dtype: int64

In [24]:
df_train[df_train['units'] > 0].count()

date         118696
store_nbr    118696
item_nbr     118696
units        118696
dtype: int64

In [25]:
#Loading the data
df_weather = pd.read_csv(r"C:\Users\chatterjeeso\Desktop\Project_TS_Walmart\Phase 2\Data\weather.csv")

#Checking how it appears
#df_weather.head(10)

#df_weather.info()

In [26]:
chklist = list(df_weather.codesum.unique())
df_weather1 = df_weather[~df_weather['codesum'].isin(['M','-'," "])]
#df_weather1.info()

In [27]:
#df_weather[~df_weather.str.contains("M")]
#df_weather3 = df_weather[~df_weather['sunrise','sunset','codesum'].isin(['M','-'," "])]
#df_weather3

In [29]:
import re

txt = "The rain in Spain 1 2 3 4"

#Find all lower case characters alphabetically between "a" and "m":

x = re.findall("[a-z,A-Z," +"]", txt)
print(x)

['T', 'h', 'e', 'r', 'a', 'i', 'n', 'i', 'n', 'S', 'p', 'a', 'i', 'n']